html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background-size: 1vh;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

p {
  line-height: 150%;
  text-align: justify;
  color: #434343;
}

.short {
  margin: 20px;
  text-align: center;
}

.relation {
  color: #890095;
}

h2 {
  margin: 0;
  font-size: 18px;
  color: #434343;
}

.content {
  margin: auto;
  padding: 20px 0 50px;
}

.gradient {
  background-color: hsla(175, 100%, 82%, 0.77);
  background-image: radial-gradient(at 82% 29%, hsla(320, 86%, 62%, 0.52) 0px, transparent 50%), radial-gradient(at 51% 18%, hsl(102, 84%, 72%) 0px, transparent 50%), radial-gradient(at 76% 71%, hsla(347, 100%, 70%, 0.28) 0px, transparent 50%), radial-gradient(at 54% 81%, hsla(284, 73%, 64%, 0.76) 0px, transparent 50%), radial-gradient(at 0% 80%, hsla(359, 100%, 84%, 0.87) 0px, transparent 50%), radial-gradient(at 30% 70%, hsl(169, 100%, 50%) 0px, transparent 50%), radial-gradient(at 99% 79%, hsla(54, 100%, 70%, 0.5) 0px, transparent 50%), radial-gradient(at 0% 0%, hsl(293, 100%, 76%) 0px, transparent 50%);
  background-attachment: fixed;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.logo__image {
  width: 70px;
  height: 70px;
}
.logo__text {
  text-align: center;
  color: #434343;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.logo__name {
  font-size: 20px;
  letter-spacing: 0.2em;
}

.menu {
  height: 100%;
  margin: 20px 0;
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__toggler {
  cursor: pointer;
  font-size: 50px;
  text-align: center;
  display: block;
}
.menu__box {
  display: none;
  margin: auto;
  width: 50%;
}
.menu__item {
  display: block;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #434343;
  border: 1px solid rgba(0, 0, 0, 0);
}
.menu__item:hover {
  color: #890095;
  background-color: rgba(217, 217, 217, 0.3);
  background-color: hsla(175, 100%, 82%, 0.77);
  background-image: radial-gradient(at 82% 29%, hsla(320, 86%, 62%, 0.52) 0px, transparent 50%), radial-gradient(at 51% 18%, hsl(102, 84%, 72%) 0px, transparent 50%), radial-gradient(at 76% 71%, hsla(347, 100%, 70%, 0.28) 0px, transparent 50%), radial-gradient(at 54% 81%, hsla(284, 73%, 64%, 0.76) 0px, transparent 50%), radial-gradient(at 0% 80%, hsla(359, 100%, 84%, 0.87) 0px, transparent 50%), radial-gradient(at 30% 70%, hsl(169, 100%, 50%) 0px, transparent 50%), radial-gradient(at 99% 79%, hsla(54, 100%, 70%, 0.5) 0px, transparent 50%), radial-gradient(at 0% 0%, hsl(293, 100%, 76%) 0px, transparent 50%);
  background-attachment: fixed;
  border-radius: 5px;
  border: 1px solid #890095;
}
.menu__checkbox:checked ~ .menu__box {
  display: block;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  padding: 20px 0;
  margin: 0;
  color: #890095;
}

@media screen and (min-width: 550px) {
  .menu__toggler {
    display: none;
  }
  .menu__box {
    display: flex !important;
    width: 100%;
    justify-content: center;
  }
  .menu__item {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0);
  }
}
@media screen and (min-width: 900px) {
  .header__top {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: flex-end;
    align-items: center;
    padding: 0 5%;
    max-width: 1200px;
    margin: auto;
  }
  .menu {
    display: grid;
    justify-content: center;
  }
}
.main {
  max-width: 1200px;
  margin: auto;
}

.motto {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 20px;
  text-align: center;
  margin: 20px auto 40px;
  color: #890095;
}

.architecture {
  margin: 40px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 25% 1fr;
  grid-auto-flow: dense;
}

.sluzby__img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  opacity: 0.8;
  border: 1px solid #890095;
}

.sluzby__item {
  display: grid;
  align-content: center;
  grid-column: 1;
}

.sluzby__text {
  padding: 20px;
  border-radius: 10px;
  grid-column: 2;
}

@media screen and (min-width: 550px) {
  .motto {
    font-size: 25px;
  }
}
@media screen and (min-width: 900px) {
  .motto {
    font-size: 35px;
  }
  .architecture {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .sluzby__item {
    display: block;
    grid-column: unset;
  }
  .sluzby__item:last-child {
    display: none;
  }
  .sluzby__text {
    grid-column: unset;
  }
  .sluzby__img {
    border-radius: 10px;
    aspect-ratio: unset;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.non-highlighted {
  padding: 20px 5%;
}

.feedback {
  border: 1px solid #890095;
  border-radius: 10px;
  padding: 0 20px;
  margin: 20px auto;
}
.feedback__name, .feedback__date {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.social-networks {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  justify-content: center;
}
.social-networks__icon {
  width: 70px;
}

.line {
  border-top: 1px solid #890095;
}

.divided {
  padding: 0 5% 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.divided__image {
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  border: 1px solid #890095;
  margin: auto;
  display: block;
}

@media screen and (min-width: 900px) {
  .divided {
    padding: 0;
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-auto-flow: dense;
    gap: 0;
  }
  .divided__textwrap {
    padding: 0 5vw 20px;
    grid-column: 2;
  }
  .divided__image {
    margin: 0;
    border-radius: 0;
    border: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.pricing {
  display: grid;
  grid-template-columns: 250px;
  gap: 30px;
  justify-content: center;
}
.pricing__item {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #890095;
  text-align: center;
}
.pricing__description {
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 550px) {
  .pricing {
    grid-template-columns: repeat(2, 250px);
  }
}
@media screen and (min-width: 900px) {
  .pricing {
    grid-template-columns: repeat(3, 250px);
  }
}/*# sourceMappingURL=style3.css.map */