html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


$c-primary: #890095;
$c-sedondary: #434343;
$c-transparent: rgba(0, 0, 0, 0);
$c-semitransparent:  rgba(255, 255, 255, 0.3);


$f-titles: 'Montserrat', sans-serif;
$f-text: 'Open Sans', sans-serif;
// $f-motto: 'Pinyon Script', cursive;
$f-motto: 'Qwitcher Grypen', cursive;

$pad-sides: 5vw;


$m-tablet: 550px;
$m-PC: 1000px;



body {
    font-size: clamp(0.8rem, 1vw + 0.5rem ,1rem);
    font-family: $f-text;
    margin: 0;
}

p {
    line-height: 140%;
    text-align: justify;
    color: $c-sedondary;
}
// short?
.short {
    margin: 20px;
    text-align: center;
}
// relation?
.relation {
    color: $c-primary;
}


h2 {
    margin: 1rem 0 0;
    font-size: clamp(1.1rem, 1vw + 0.6rem ,1.3rem);
    color: $c-sedondary;
}


// .content {
//     // max-width: 1200px;
//     margin: auto;
//     padding-bottom: 50px;

// }
.center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.gradient {
    background-color:hsla(175,100%,82%,0.77);
    background-image:
    radial-gradient(at 82% 29%, hsla(320,86%,62%,0.52) 0px, transparent 50%),
    radial-gradient(at 51% 18%, hsla(102,84%,72%,1) 0px, transparent 50%),
    radial-gradient(at 76% 71%, hsla(347,100%,70%,0.28) 0px, transparent 50%),
    radial-gradient(at 54% 81%, hsla(284,73%,64%,0.76) 0px, transparent 50%),
    radial-gradient(at 0% 80%, hsla(359,100%,84%,0.87) 0px, transparent 50%),
    radial-gradient(at 30% 70%, hsla(169,100%,50%,1) 0px, transparent 50%),
    radial-gradient(at 99% 79%, hsla(54,100%,70%,0.5) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(293,100%,76%,1) 0px, transparent 50%);
   
    background-attachment: fixed;
    // border: 1px solid $c-primary;
}


// část header
.header__top {
    padding-top: 0.5rem;
    
}

// .left {text-align: right;}
.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    
    &__image {
        width: 50px;
        height: 50px;
        color: red;

    }

    &__text {
        text-align: block;
        color: $c-sedondary;
        text-transform: uppercase;
        font-family: $f-titles;
    }

    &__name {
        font-size: 140%;
        letter-spacing: 0.2em;
    }

    &__description {
        letter-spacing: 0.14em;
    }
 
}

.menu{
    height: 100%;
    margin: 1rem 0;
    

    &__checkbox {
        position: absolute;
        left: -9999px;
    }

    &__toggler {
        cursor: pointer;
        font-size: 4rem;
        text-align: center;
        display: block;
        color: $c-sedondary;
    }
 

    &__box {
        display: none;
        margin: auto;
        width: 50%;

    }
        
    &__item {
        display: block;
        padding: 0.5rem;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        color: $c-sedondary;
        // border: 1px solid $c-transparent;
        
    
        &:hover {
            color: $c-primary;
            background-color: rgba(217, 217, 217, 0.3);
            background-color:hsla(175,100%,82%,0.77);
            background-image:
            radial-gradient(at 82% 29%, hsla(320,86%,62%,0.52) 0px, transparent 50%),
            radial-gradient(at 51% 18%, hsla(102,84%,72%,1) 0px, transparent 50%),
            radial-gradient(at 76% 71%, hsla(347,100%,70%,0.28) 0px, transparent 50%),
            radial-gradient(at 54% 81%, hsla(284,73%,64%,0.76) 0px, transparent 50%),
            radial-gradient(at 0% 80%, hsla(359,100%,84%,0.87) 0px, transparent 50%),
            radial-gradient(at 30% 70%, hsla(169,100%,50%,1) 0px, transparent 50%),
            radial-gradient(at 99% 79%, hsla(54,100%,70%,0.5) 0px, transparent 50%),
            radial-gradient(at 0% 0%, hsla(293,100%,76%,1) 0px, transparent 50%);
           
            background-attachment: fixed;
            border-radius: 5px;
            // border: 1px solid $c-primary;
        }
    }

    &__checkbox:checked ~ &__box {
        display: block;
    }

}



@media screen and (min-width: $m-tablet) {


   .menu {
        &__toggler {
            display: none;
        }

        &__box {
            display: flex !important;
            width: 100%;
            justify-content: center;
        }
        &__item {
            padding: 1em;
            
            // border: 1px solid $c-transparent;
        }
    }

  
}

@media screen and (min-width: $m-PC) {
    .header__top{
        display: grid;
        grid-template-columns: 40% 1fr;
        justify-items: center;
        align-items: center;
        max-width: 1200px;
        margin: auto;
    }

    .menu {
        display: grid;
    }
}


// konkretni obsah stranky
h1 {
    font-family: $f-titles;
    font-size: clamp(2rem, 2vw + 2rem ,5rem);
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    padding: 1rem 0;
    margin: 0;


    color: $c-primary;
    
    background: linear-gradient(to right, #e644f4, #010864);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main {
    
    max-width: 1200px;
    margin: auto;
}

.motto {
    font-family: $f-motto;
    font-size: clamp(1.5rem, 6vw + 1rem, 2.4rem);
    margin: 1rem auto 3rem;
    color: $c-primary;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
// .title-bar {
//     margin-bottom: 3rem;
// }

// stranka uvod, o mne
.divided {

    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 3rem;
    
    &__textwrap {
        padding: 0 $pad-sides 2rem;
    }

    &__image {
        width: min(100%, 400px);
        border-radius: 10px;
        // border: 1px solid $c-primary ;
        margin: auto;
        display: block;
      
    }
}

li {
    list-style-type:" - ";
}

.kurzy {
    padding-block: 3rem;
    
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: $m-PC) {
    .divided {
        padding: 0;
        grid-template-columns: 40% 1fr;
        grid-auto-flow: dense;
        

        &__textwrap {
            grid-column: 2;
        }

        &__image {
            margin: 0;
            border-radius: 0;
            border: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// ostatni stranky
.inside {
    padding: 1rem $pad-sides;
}

// stranka offer
.offer {
    margin: 3rem auto;
    display: grid;
    gap: 4vw;
    grid-template-columns: 25% 1fr;
    grid-auto-flow: dense;


}

.offer__img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    // border-radius: 50%;
    opacity: 0.8;
    // border: 1px solid $c-primary;
    // background-color: $c-semitransparent;
    
    
        
}
.offer__item {
    display: grid;
    align-content: center;
    grid-column: 1;
    border-radius: 10px;
    
    
}
.offer__text {
    padding: 0 3vw;
    border-radius: 10px;
    grid-column: 2;
    opacity: 0.8;
    
    // border: 1px solid $c-sedondary;
    // background-color: $c-semitransparent;
}

// @media screen and (min-width: $m-tablet) {
//     .offer {
//         grid-template-columns: 30% 1fr;
//     }
// }

@media screen and (min-width: $m-PC) {

    .offer{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    &__text {
        grid-column: unset;
    }
    &__item {
        display: block;
        grid-column: unset;
       &:last-child {
        display: none;
       }
    }
    &__img {
        border-radius: 10px;
        aspect-ratio: unset;
        height: 100%;
        object-fit: cover;
        // max-height: 300px;
        }
    }
    
}

.non-highlighted {
    padding: 20px $pad-sides;
}


// stranka recenze
.review {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-block: 3rem;
}

@media screen and (min-width: $m-PC) {
    .review {
        grid-template-columns: 1fr 1fr;
    }
}


.framed-item {
    border: 1px solid $c-primary;
    border-radius: 10px;
    padding: 0.5rem;
    

    & p{
        margin: 5px;
    }
    
    &__title {
        font-weight: 600;
    }

}



// stranka kontakty

.social-networks {
    display: flex;
    
    gap: 2rem;
    justify-content: center;
    &__icon {
        width: 70px;
    }
}

.line {
    padding: 2rem 0;
    border-top: 1px solid $c-primary
}

.highlight {
    font-size: 1.5rem;
}
  

// stranka cenik
.pricing{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: center;
    margin: 3rem auto;
}

@media screen and (min-width: $m-tablet) {
    .pricing {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
    }
}

@media screen and (min-width: $m-PC) {
    .pricing {
        grid-template-columns: repeat(3, 1fr);
    }

}



// div {
//     border: 1px solid black;
// }

.footer {
    max-width: 1200px;
    padding: 1rem $pad-sides;
    font-size: 80%;
    color: $c-sedondary; 
    margin: auto;
}