h1 {
    font-weight: 300;
    text-align: center;
    font-size: 70px;
}


.advent {
font-family: 'Advent Pro', sans-serif;
}
.alumni {
font-family: 'Alumni Sans Pinstripe', sans-serif;
}
.bai {
font-family: 'Bai Jamjuree', sans-serif;
}
.barlow1 {
font-family: 'Barlow', sans-serif;
}
.barlow2 {
font-family: 'Barlow Condensed', sans-serif;
}
.barlow3 {
font-family: 'Barlow Semi Condensed', sans-serif;
}
.dosis {
font-family: 'Dosis', sans-serif;
}
.gruppo {
font-family: 'Gruppo', sans-serif;
}
.jura {
font-family: 'Jura', sans-serif;
}
.khand {
font-family: 'Khand', sans-serif;
}
.manrope {
font-family: 'Manrope', sans-serif;
}
.montserrat {
font-family: 'Montserrat', sans-serif;
}
.quicksand {
font-family: 'Quicksand', sans-serif;
}
.raleway {
font-family: 'Raleway', sans-serif;
}
.sono {
font-family: 'Sono', monospace;
}

body {
    color: #890095;
    background-color: rgba(217, 217, 217, 0.3);
    
    background-image:
    radial-gradient(at 82% 29%, hsla(320,86%,62%,0.52) 0px, transparent 50%),
    radial-gradient(at 51% 18%, hsla(102,84%,72%,1) 0px, transparent 50%),
    radial-gradient(at 76% 71%, hsla(347,100%,70%,0.28) 0px, transparent 50%),
    radial-gradient(at 54% 81%, hsla(284,73%,64%,0.76) 0px, transparent 50%),
    radial-gradient(at 0% 80%, hsla(359,100%,84%,0.87) 0px, transparent 50%),
    radial-gradient(at 30% 70%, hsla(169,100%,50%,1) 0px, transparent 50%),
    radial-gradient(at 99% 79%, hsla(54,100%,70%,0.5) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(293,100%,76%,1) 0px, transparent 50%);
    
    background-attachment: fixed;
}