<header class="header">
    <div class="header__top">
        
            <!-- <p class="logo__text left">
                <span class="logo__name">Lenka</span><br>
                . . laktační
            </p>
            <img class="logo__image" src="images/logo-kruh.webp" alt="logo">
            <p class="logo__text">
                <span class="logo__name">Šeblová</span><br>
                poradenství
            </p> -->
            <a class="logo" href="/">
                <img class="logo__image" src="/images/lenka-logo-sede.svg" alt="logo">
                <p class="logo__text block">
                    <span class="logo__name">Lenka Šeblová</span><br>
                    <span class="logo__description"> laktační poradenství</span>
                </p>
            </a>
        
    
        <nav class="menu">
            
            <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
            <label for="menu-checkbox" class="menu__toggler">≡</label>
            
            <div class="menu__box">
                <a class="menu__item nowrap" href="/">Úvod</a>
                <a class="menu__item nowrap" href="/o-mne/"> O mně</a>
                <a class="menu__item nowrap" href="/sluzby/">Služby</a>
                <a class="menu__item nowrap" href="/cenik/">Ceník</a>
                <a class="menu__item nowrap" href="/recenze/">Recenze</a>
                <a class="menu__item nowrap" href="/kontakt/">Kontakt</a>
            </div>
        </nav>
    </div> 
</header>