@use '../abstracts/variables';


.footer {
    padding: 1rem variables.$pad-sides;
    font-size: 80%;
    color: variables.$c-sedondary; 
    margin: auto;
    // border-top: 1px solid variables.$c-sedondary;
    box-shadow: variables.$shadow;
}