$c-primary: #890095;
$c-sedondary: #434343;
$c-transparent: rgba(0, 0, 0, 0);
$c-semitransparent:  rgba(255, 255, 255, 0.3);
$c-background: hsla(76, 100%, 82%, 0.77);

$gradient-back:     radial-gradient(at 82% 29%, hsla(320,86%,62%,0.52) 0px, transparent 50%),
radial-gradient(at 51% 18%, hsla(102,84%,72%,1) 0px, transparent 50%),
radial-gradient(at 76% 71%, hsla(347,100%,70%,0.28) 0px, transparent 50%),
radial-gradient(at 54% 81%, hsla(284,73%,64%,0.76) 0px, transparent 50%),
radial-gradient(at 0% 80%, hsla(359,100%,84%,0.87) 0px, transparent 50%),
radial-gradient(at 30% 70%, hsla(169,100%,50%,1) 0px, transparent 50%),
radial-gradient(at 99% 79%, hsla(54,100%,70%,0.5) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(293,100%,76%,1) 0px, transparent 50%);
$gradient-text: linear-gradient(to right, #e644f4, #010864);


$pad-sides: 5vw;
$shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;


$f-titles: 'Montserrat', sans-serif;
$f-text: 'Open Sans', sans-serif;
// $f-motto: 'Pinyon Script', cursive;
$f-motto: 'Qwitcher Grypen', cursive;

$m-tablet: 550px;
$m-PC: 1000px;